*.pyc
*.pth
*.pt
*.json
*.bin
*.txt
*.tsv
!requirements.txt
*.png
*.safetensors
/weights/runs
.qodo
!images/*.png
!images/example_workflow/*.png
!src/protify/*.png
src/protify/private_yamls
*.db
*.yaml
!yamls/base.yaml
/src/protify/results/*
.cursorignore
/outputs/*
src/protify/benchmarks/proteingym/scores_old/*