*.pyc
*.pth
*.pt
*.json
*.bin
*.txt
*.tsv
*.cache
*.png
*.safetensors
*.db
*.yaml
*.lock
outputs/
src/protify/private_yamls
src/protify/results/
/outputs/*
src/protify/benchmarks/proteingym/scores_old/*
src/protify/results/*
/.cache
/weights/runs
.qodo
\!src/protify/*.png
!yamls/base.yaml
!yamls/sweep_full.yaml
!yamls/sweep_probe.yaml
!yamls/sweep_transformer_probe.yaml
!images/*.png
!images/example_workflow/*.png
!requirements.txt
!yamls/vector_benchmark.yaml
!src/protify/base_models/e1_tokenizer.json
site/*