*.pyc
*.pth
*.pt
*.json
*.bin
*.txt
*.tsv
!requirements.txt
*.png
*.safetensors
/weights/runs
.qodo
!images/*.png
!images/example_workflow/*.png
!src/protify/*.png
src/protify/private_yamls
*.db
*.yaml
!yamls/base.yaml
!yamls/sweep_full.yaml
!yamls/sweep_probe.yaml
!yamls/sweep_transformer_probe.yaml
outputs/
src/protify/benchmarks/proteingym/
src/protify/results/
