torch>=2.5.1
torchvision
transformers>=4.47
accelerate>=1.1.0
peft
tf-keras
tensorflow
torchinfo
torchmetrics
scikit-learn==1.5.0
scipy>=1.13.1
datasets
pyarrow
einops
numpy==1.26.4
networkx>=3.4.2
xgboost
lightgbm
pyfiglet
seaborn>=0.13.2
matplotlib>=3.9.0